section.header {
  padding-top: 15rem;
  padding-bottom: 10rem;
  color: #303030;
  background-color: #f7f9ff;
}
section.about{
  color: #303030;
  background-color: #f7f9ff;

}

section.experience{
  padding-top: 1.75rem;
  color: #303030;
  background-color: #f7f9ff;

}

section.projects{
  padding-top: 1.75rem;

  color: #303030;
  background-color: #f7f9ff;

}

ul{
  padding-left: 1rem;
}
li {
  font-weight: bold;
  color: #2E4052;
  padding-top: 0.5rem;
}

h1{

  font-weight: bold;
  font-size: 3.15rem;
}

h2 {
  font-weight: bold;
  font-size: 3rem;

}
p {
  font-size: 1.1rem;
}

.bottom_bord {
  padding-bottom: 1.75rem;
  border-bottom: 5px solid #2E4052;
}
